/*
 * danubius.shell.css
 * Danilo-Zekovic
 * Summer 2015
 * My CSS
 */

/* Header */

.header-pic h1 {
  background-color: #eee;
  color: #222;
  font: bold 80px "arial";
  height: 200px;
  padding: 25px;
  text-align: center;
  text-shadow: 0 1px 1px #4d4d4d;
}

.header-pic {
  margin-top : 0;
  margin-bottom: 0;
}


/* Navbar */

li:hover {
  background-color : #080808;
}

nav {
  border-radius: 0px;
}

.nav-container {
    
  background-color: #f86d5a;
}

.navb {   
  height: 46px;
  border-bottom: 4px solid #222;
  left : 0;
  right : 0;

}
.navbar{
  border-radius: 0 0 0 0;
  margin-bottom: 0;
}

.navb ul { 
  list-style: none;
}

/*.navb ul li {
  float: left; 
  line-height: 46px;
  border-right: 1px solid black;  
  border-left: 1px solid black;
}*/
  
.navb ul li:first-child {
  border-left: none;
}

.navb ul li:last-child {
  border-right: none;
}

.navb ul li a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
}
  
.navb ul li a:hover { 
  background-color: #222;
  color: #f86d5a;
}

.fix-nav {
  /* this make our menu fixed top */    
  z-index: 9999;  
  position: fixed;
     
  width: 100%;
}

.dropdown-menu ul li {
  
  border-right: 0px;  
  border-left: 0px;
}

/* Main */

#main {
  margin-top: 14px;
}

.main-content {
  background-color: orange;
  border: 1px solid black;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.main-content p {
  margin : 5%;
  font-weight: bold;
  color : #000000;
}

.container:not(#top-navbar, .foo) {
  position : relative;  
  background-color : orange;
}
 
.fix-body {
  /* this will adjust body top margin to prevent content jumping when nav gets fix  */    
  margin-top: 50px;
}



/** 
  * Mobile devices
  * small screen
  */

@media (max-width:768px) {
  .container:not(#top-navbar) {
    position : absolute;
    left : 0;
    right : 0;
    background-color : blue;
    margin-top: 29px;
  }

  #danubius {
    position : static;
    min-height : 100%;
    min-width  : 0;
  }
  .header-pic {
    height: 0;
    visibility: hidden;

  }
}
