<!-- klub.html -->

<div class=" text-center row">
  <a href=""><div class="col-md-4" style="margine : 1em"><h3>O Klubu</h3>
  <p>{{message}}</p></div></a>
  <a href=""><div class="col-md-4"><h3>O Klubu</h3>
  <p>{{message}}</p></div></a>
  <a href=""><div class="col-md-4"><h3>O Klubu</h3>
  <p>{{message}}</p></div></a>
  
</div>

<div class="row main-content">

 

	<div class="col-ln-12">
	  <hr>
	  <h2 class="intro-text text-center">
	  	<strong>Danubius</strong>
	  </h2>
	  <hr>

	  <p>
	  	Košarkaški klub "Danubius" iz Novog Sada osnovan je 01. februara 2000. godine. Možda se bas u tom datumu krije uspeh ovog najmlađeg novosadskog košarkaškog kluba, jer za one koji ne znaju taj dan je ujedno i dan grada Novog Sada. Klub je osnovan na jedan drugi način od onog kako je navikla novosadska publika. Prvo je sakupljen seniorski tim da bi na osnovu njega sa treninzima počeli i mlađi članovi koji su počeli da se okupljaju i koji su najzad našli neke svoje uzore i u Novom Sadu, gradu koji je oduvek cenio voleo samo kvalitetna sportska dostignuća.
		<br><br>
		Po osnivanju, leta 2000-te, prijavljene su dve ekipe za takmičenje. Seniorska u letnjoj ligi gde se boti za plasman u II Srpsku ligu grupu Sever i omladinska ekipa koja se takmičila u ligi igrača starosti do 20 godina. Iako najneiskusnija ekipa pošto niko od igrača nije igrao seniorske utakmice "najstariji" osvajaju I mesto i time obezbeđuju ulazak u viši rang, a omladinci koje su neki "stručnjaci" proglasili naperspektivnim i koji su bukvalno odbačeni iz novosadskih klubova osvajaju I mesto bez ijednog poraza. Tada je sve krenulo koracima od sedam milja.
		<br><br>
		Najmlađi članovi, deca od 10. godina i starija okupljaju se u sve većem broju. Dolazi oktobar 2000-te i početak takmičenja u II Srpskoj ligi grupe Sever, a time i sve veća zainteresovanost celokupne javnosti u Novom Sadu koja prati šta se zbiva u ovoj najlepšoj igri na svetu. Ređaju se prve pobede, ređaju se i prvi porazi, ali ekipa svakim danom postaje sve čvršća i sve bolja. Drugarstvo je najvažnija karika koja ne popušta ni jednog trenutka. I tako dani su prolazili, a "Danubius" ili kako ih popularno zovu "Orlovi sa Dunava" polako se penju ka vrhu tabele.
		<br><br>
		Dolazi kraj i konačan plasman. Treće mesto, mesto koje vodi u viši rang, Prva Srpska liga. Za samo godinu dana i nešto malo više. Malo koja ekipa može da se pohvali takvim rezultatom.
		<br><br>
		Tako je sve počelo, a kako će se nastaviti videćemo ove godine. Ekipa polako sazreva, momci su stariji za jednu godinu, iskusniji i još željniji igre. Izazov je pred svima, od igrača, trenera, uprave, čak do navijača koji se već sada polako spremaju da ispune novosadske tribine i pomognu svojim "Orlovima"
		<br><br>
		Ako volite ovu igru dođite i pogledajte "Orlove". Nećete zažaliti, uveravamo Vas.
		
	  </p>
	</div>

  

</div>

<div class="row main-content">

 

	<div class="col-lg-12">
	  <hr>
	  <h2 class="intro-text text-center">
	  	<strong>VIP</strong>
	  </h2>
	  <hr>
	
    
    <div class="well col-md-12" ng-repeat="player in vip">
      <div class="col-lg-3">
 		<img src="{{player.photo}}" class="img-responsive">
      </div>
	  <div class="col-lg-9" >
	 
 	   <h4>player.name</h4>
 	   <p><strong>Datum Rodjenja: </strong>player.birthday</p>
 	   <p><strong>Uspesi: </strong>player.success</p>
 	   <p><strong>O igracu: </strong>player.about</p>
	 </div>
	</div>
	</div>

  

</div>

<div class="row main-content">

 

	<div class="col-ln-12">
	  <hr>
	  <h2 class="intro-text text-center">
	  	<strong>Trofeji</strong>
	  </h2>
	  <hr>
	</div>

	<div class="col-lg-12" ng-repeat="trofej in trofeji">
		<p><strong>NM: </strong>{{trofej.nm}}<br>
	        <strong>CTY: </strong>{{trofej.cty}}<br>
	        <strong>HSE: </strong>{{trofej.hse}}<br>
	        <strong>YRS: </strong>{{trofej.yrs}}</p>
  	</div>

</div>